<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/main.css}"
	href="../../static/main.css" />
<link rel="stylesheet" type="text/css" th:href="@{/list.css}"
	href="../../static/list.css" />
<link
	href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jua&display=swap"
	rel="stylesheet">
</head>
<body>
	<header th:replace="fragments/header::header"></header>

	<nav th:replace="fragments/nav::nav"></nav>

	<article>
		<div id="top">
			<div id="top-title">
				<h1>자유 게시판</h1>
			</div>

			<div id="twrite">
				<a href="boardwriting" class="btn"> 글쓰기 </a>
			</div>
		</div>

		<div id="wrap-table">
			<table id="tlist">
				<thead class="thead-list">
				<tr>
					<th class="no">번호</th>
					<th class="content">제목</th>
					<th class="name">작성자</th>
					<th class="date">등록일</th>
					<th class="uphit">조회수</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="li : ${list}">
					<td th:text="${li.b_no}" class="no"></td>
					
					<td><a th:href="@{./boardview(b_no=${li.b_no})}"
						th:text="${li.b_title}" class="title"></a></td>
					
					<td th:text="${li.b_name}" class="name"></td>					
					
					<td th:text="${#dates.format(li.b_calendar,'yyyy-MM-dd hh:mm')}" class="date"></td>

					<td th:text="${li.b_uphit}" class="uphit"></td>
				</tr>
				</tbody>
			</table>

		</div>


	</article>

	<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>