<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>새글 등록</title>

<link
	href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jua&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/main.css}"
	href="../../static/main.css" />
<link rel="stylesheet" type="text/css" th:href="@{/insert.css}"
	href="../../static/insert.css" />

</head>
<body>
	<header th:replace="fragments/header::header"></header>

	<nav th:replace="fragments/nav::nav"></nav>

	<article>

		<div id="top">
			<div id="top-title">
				<h1>게시글 등록</h1>
			</div>
			<div id="top-search">
				<a th:href="@{/iboard/getBoardList}"> 글 목록 </a>
			</div>

		</div>

		<div id="wrap-tables">
			<form th:action="@{insert1}" method="post" id="gtable">
				<table>
					<tr>
						<td th:text="제목"></td>
						<td><input name="ititle" type="text"></td>
					</tr>


					<tr>
						<td th:text="작성자"></td>
						<td><input name="iname" type="text"></td>
					</tr>


					<tr>
						<td th:text="내용"></td>
						<td><textarea rows="12" cols="100" name="icontents" id="txt"></textarea></td>
					</tr>
		<tr><td>&nbsp;</td></tr>
					<tr>
						<td colspan="2">
						<input type="file" id="ibfile" name="ibfile" value="${board.ino}"> 
						<button type="submit" class="btn" >게시글 등록</button></td>
					</tr>
				</table>
			</form>

		</div>


	</article>
	<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>